<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="./dist/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div id="root">
        <!-- Header -->
        <header>
            <!-- Prima barra di navigazione -->
            <nav class="top-nav">
                <div class="container">
                    <span>Lorem ipsum dolor sit amet.</span>
                    <!-- link inseriti con vue -->
                    <a href="" v-for="link in topLinks">{{link.item}}</a>
                </div>
            <!-- /Prima barra di navigazione -->
            </nav>
            <!-- logo -->
            <div class="container">
                <div class="logo">
                    <img src="./dist/img/logo-default-slim.png" alt="">
                </div>
            </div>
            <!-- /logo -->
            <!--seconda nav  -->
                <nav class="bottom-nav">
                    <div class="container flex-container">
                        <div class="links">
                            <a href="" v-for="link in bottomLinks">{{link.item}}</a>
                        </div>
                        <div class="search">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </nav>
            <!--/seconda nav  -->
        </header>
        <!-- /Header -->
        <!-- main -->
        <main>
            <div class="first-section">
                <!-- Prima sezione: articoli -->
                <div class="container">
                    <div class="articles first-row">
                        <div class="article first-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article second-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article third-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                    </div>
                    <div class="articles second-row">
                        <div class="article fourth-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article fifth-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article sixth-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Prima sezione: articoli -->
            <!-- Seconda sezione:posts -->
            <div class="second-section">
                <div class="container">
                    <div class="posts">
                        <!-- popular posts -->
                        <div class="popular-posts">
                            <h3>Popular posts</h3>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-55.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-56.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-57.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-58.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-59.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                        </div>
                        <!-- /popular posts -->
                        <!-- recent posts -->
                        <div class="recent-posts">
                            <h3>Recent posts</h3>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-65.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-66 (1).jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-67.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-68.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-69.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                        </div>
                        <!-- /recent posts -->
                        <!-- featured posts -->
                        <div class="featured-posts">
                            <h3>featured posts</h3>
                            <!-- feat. article -->
                            <div class="featured-article">
                                <div class="article-info">
                                    <span>lorem</span>
                                    <h4>Lorem ipsum dolor sit amet.</h4>
                                </div>
                            <!-- / feat. article -->
                            </div>
                            <!-- feat. author -->
                            <div class="featured-author">
                                <h3>featured author</h3>
                                <div class="author-info">
                                    <div class="author-avatar">
                                        <img src="./dist/img/avatar.jpg" alt="">
                                    </div>
                                    <div class="author-bio">
                                        <h4>John Doe</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem commodi a maxime iure repellendus officiis?</p>
                                    </div>
                                </div>
                            <!-- / feat. author -->
                            </div>
                        </div>
                        <!-- /featured posts -->
                    </div>
                </div>
            </div>
            <!-- / Seconda sezione:posts -->
            <!-- third main section:buttons -->
            <div class="third-section">
                <div class="container">
                    <div class="buttons">
                        <div class="left-arrow">
                            <i class="fas fa-angle-left"></i>
                        </div>
                        <div class="button">
                            <input type="button" value="gadgets">
                        </div>
                        <div class="button">
                            <input type="button" value="photo">
                        </div>
                        <div class="button">
                            <input type="button" value="lifestyle">
                        </div>
                        <div class="button">
                            <input type="button" value="fashion">
                        </div>
                        <div class="button">
                            <input type="button" value="recipes">
                        </div>
                        <div class="button">
                            <input type="button" value="travel">
                        </div>
                        <div class="right-arrow">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ third main section:buttons -->
            <!-- Fourth main section: blog -->
            <div class="blog">
                <div class="container blog-flex">
                    <div class="left-blog">
                        <!-- blog img -->
                        <div class="blog-img">
                            <img src="./dist/img/blog-54.jpg" alt="">
                        </div>
                        <!-- /blog img -->
                        <div class="blog-info">
                            <!-- blog date -->
                            <div class="blog-date">
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                            <!-- /blog date -->
                            <!-- blog content -->
                            <div class="blog-text">
                                <h2>Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
                                <p>Lorem Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, ut. sit amet consectetur adipisicing elit. Sint, doloremque. ipsum dolor sit amet consectetur adipisicing elit. Alias, ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, ut?</p>
                                <div class="blog-links">
                                    <!-- article blog author -->
                                    <div class="author">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="">John Doe</a>
                                    </div>
                                    <!-- /article blog author -->
                                    <!-- article blog category -->
                                    <div class="category">
                                        <i class="far fa-folder"></i>
                                        <a href="">Lifestyle, Travel</a>
                                    </div>
                                    <!-- /article blog category -->
                                    <!-- article blog coments -->
                                    <div class="comments">
                                        <i class="far fa-comments"></i>
                                        <a href="">12 Comments</a>
                                    </div>
                                    <!-- /article blog coments -->
                                    <!-- read more -->
                                    <div class="read-more">
                                        <input type="button" value="read more">
                                    </div>
                                    <!-- / read more -->
                                </div>
                            </div>
                            <!-- / blog content -->
                        </div>
                        <div class="blog-img">
                            <img src="./dist/img/blog-55 (1).jpg" alt="">
                        </div>
                        <!-- /blog img -->
                        <div class="blog-info">
                            <!-- blog date -->
                            <div class="blog-date">
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                            <!-- /blog date -->
                            <!-- blog content -->
                            <div class="blog-text">
                                <h2>Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
                                <p>Lorem Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, ut. sit amet consectetur adipisicing elit. Sint, doloremque. ipsum dolor sit amet consectetur adipisicing elit. Alias, ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, ut?</p>
                                <div class="blog-links">
                                    <!-- article blog author -->
                                    <div class="author">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="">John Doe</a>
                                    </div>
                                    <!-- /article blog author -->
                                    <!-- article blog category -->
                                    <div class="category">
                                        <i class="far fa-folder"></i>
                                        <a href="">Lifestyle, Travel</a>
                                    </div>
                                    <!-- /article blog category -->
                                    <!-- article blog coments -->
                                    <div class="comments">
                                        <i class="far fa-comments"></i>
                                        <a href="">12 Comments</a>
                                    </div>
                                    <!-- /article blog coments -->
                                    <!-- read more -->
                                    <div class="read-more">
                                        <input type="button" value="read more">
                                    </div>
                                    <!-- / read more -->
                                </div>
                            </div>
                            <!-- / blog content -->
                        </div>
                        <div class="blog-img">
                            <img src="./dist/img/blog-56 (1).jpg" alt="">
                        </div>
                        <!-- /blog img -->
                        <div class="blog-info">
                            <!-- blog date -->
                            <div class="blog-date">
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                            <!-- /blog date -->
                            <!-- blog content -->
                            <div class="blog-text">
                                <h2>Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
                                <p>Lorem Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, ut. sit amet consectetur adipisicing elit. Sint, doloremque. ipsum dolor sit amet consectetur adipisicing elit. Alias, ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, ut?</p>
                                <div class="blog-links">
                                    <!-- article blog author -->
                                    <div class="author">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="">John Doe</a>
                                    </div>
                                    <!-- /article blog author -->
                                    <!-- article blog category -->
                                    <div class="category">
                                        <i class="far fa-folder"></i>
                                        <a href="">Lifestyle, Travel</a>
                                    </div>
                                    <!-- /article blog category -->
                                    <!-- article blog coments -->
                                    <div class="comments">
                                        <i class="far fa-comments"></i>
                                        <a href="">12 Comments</a>
                                    </div>
                                    <!-- /article blog coments -->
                                    <!-- read more -->
                                    <div class="read-more">
                                        <input type="button" value="read more">
                                    </div>
                                    <!-- / read more -->
                                </div>
                            </div>
                            <!-- / blog content -->
                        </div>
                        <div class="blog-img">
                            <img src="./dist/img/blog-58 (1).jpg" alt="">
                        </div>
                        <!-- /blog img -->
                        <div class="blog-info">
                            <!-- blog date -->
                            <div class="blog-date">
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                            <!-- /blog date -->
                            <!-- blog content -->
                            <div class="blog-text">
                                <h2>Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
                                <p>Lorem Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, ut. sit amet consectetur adipisicing elit. Sint, doloremque. ipsum dolor sit amet consectetur adipisicing elit. Alias, ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, ut?</p>
                                <div class="blog-links">
                                    <!-- article blog author -->
                                    <div class="author">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="">John Doe</a>
                                    </div>
                                    <!-- /article blog author -->
                                    <!-- article blog category -->
                                    <div class="category">
                                        <i class="far fa-folder"></i>
                                        <a href="">Lifestyle, Travel</a>
                                    </div>
                                    <!-- /article blog category -->
                                    <!-- article blog coments -->
                                    <div class="comments">
                                        <i class="far fa-comments"></i>
                                        <a href="">12 Comments</a>
                                    </div>
                                    <!-- /article blog coments -->
                                    <!-- read more -->
                                    <div class="read-more">
                                        <input type="button" value="read more">
                                    </div>
                                    <!-- / read more -->
                                </div>
                            </div>
                            <!-- / blog content -->
                        </div>
                        <div class="collage">
                            <div class="blog-img first-row">
                                <div class="single-img">
                                    <img src="./dist/img/blog-13.jpg" alt="">
                                </div>
                                <div class="single-img">
                                    <img src="./dist/img/blog-16.jpg" alt="">
                                </div>
                                <div class="single-img">
                                    <img src="./dist/img/blog-20.jpg" alt="">
                                </div>
                            </div>
                            <div class="blog-img second-row">
                                <div class="single-img">
                                    <img src="./dist/img/blog-23.jpg" alt="">
                                </div>
                                <div class="single-img">
                                    <img src="./dist/img/blog-29.jpg" alt="">
                                </div>
                                <div class="single-img">
                                    <img src="./dist/img/blog-40.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- /blog img -->
                        <div class="blog-info">
                            <!-- blog date -->
                            <div class="blog-date">
                                <div class="day">
                                    <span>8</span>
                                </div>
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                            <!-- /blog date -->
                            <!-- blog content -->
                            <div class="blog-text">
                                <h2>Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
                                <p>Lorem Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, ut. sit amet consectetur adipisicing elit. Sint, doloremque. ipsum dolor sit amet consectetur adipisicing elit. Alias, ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, ut?</p>
                                <div class="blog-links">
                                    <!-- article blog author -->
                                    <div class="author">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="">John Doe</a>
                                    </div>
                                    <!-- /article blog author -->
                                    <!-- article blog category -->
                                    <div class="category">
                                        <i class="far fa-folder"></i>
                                        <a href="">Lifestyle, Travel</a>
                                    </div>
                                    <!-- /article blog category -->
                                    <!-- article blog coments -->
                                    <div class="comments">
                                        <i class="far fa-comments"></i>
                                        <a href="">12 Comments</a>
                                    </div>
                                    <!-- /article blog coments -->
                                    <!-- read more -->
                                    <div class="read-more">
                                        <input type="button" value="read more">
                                    </div>
                                    <!-- / read more -->
                                </div>
                            </div>
                            <!-- / blog content -->
                        </div>
                        <!-- Pages numbers -->
                        <div class="pages">
                            <a href=""><i class="fas fa-angle-left"></i></a>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href=""><i class="fas fa-angle-right"></i></a>
                        </div>
                        <!-- / Pages numbers -->
                    </div>
                    <div class="right-blog">
                        <!-- twitter posts -->
                        <h3>latest from twitter</h3>
                        <div class="twt-posts">
                            <!-- twt icon -->
                            <div class="twt-icon">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <!-- / twt icon -->
                            <div class="twt-info">
                                <!-- twt content -->
                                <div class="twt-text">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur labore aliquid alias debitis quod repudiandae!</p>
                                </div>
                                <!-- / twt content -->
                                <!-- twt date -->
                                <div class="twt-date">
                                    <p class="date">01:05 PM Sept18th</p>
                                </div>
                                <!-- / twt date -->
                            </div>
                        </div>
                        <div class="twt-posts">
                            <!-- twt icon -->
                            <div class="twt-icon">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <!-- / twt icon -->
                            <div class="twt-info">
                                <!-- twt content -->
                                <div class="twt-text">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur labore aliquid alias debitis quod repudiandae!</p>
                                </div>
                                <!-- / twt content -->
                                <!-- twt date -->
                                <div class="twt-date">
                                    <p class="date">01:05 PM Sept18th</p>
                                </div>
                                <!-- / twt date -->
                            </div>
                        </div>
                        <!-- /Twitter posts -->
                        <!-- Instagram posts -->
                        <div class="instagram">
                            <!-- Photos -->
                            <h3>Photos from instagram</h3>
                            <div class="photos">
                                <div class="photo">
                                    <img src="./dist/img/29739607_2020680068220520_4509928046932787200_n.jpg" alt="">
                                </div>
                                <div class="photo">
                                    <img src="./dist/img/30087804_253872848488989_8792603541668626432_n.jpg" alt="">
                                </div>
                                <div class="photo">
                                    <img src="./dist/img/29415620_196477127626244_3250318472361541632_n.jpg" alt="">
                                </div>
                                <div class="photo">
                                    <img src="./dist/img/30078414_1274410412703843_8290935809419247616_n.jpg" alt="">
                                </div>
                                <div class="photo">
                                    <img src="./dist/img/30077195_2066750973610181_3733150062893596672_n.jpg" alt="">
                                </div>
                                <div class="photo">
                                    <img src="./dist/img/29415304_166583630713703_1032667922171953152_n.jpg" alt="">
                                </div>
                            </div>
                            <!-- /Photos -->
                            <div class="tags">
                                <h3>Tags</h3>
                                <a href="">design</a>
                                <a href="">brand</a>
                                <a href="">videos</a>
                                <a href="">business</a>
                                <a href="">travel</a>
                            </div>
                            <div class="facebook">
                                <h3>find us on facebook</h3>
                                <a href="">okieir themes</a>
                            </div>
                        </div>
                        <!--/ Instagram posts -->
                    </div>
                </div>
            </div>
        </main>
        <!-- /main -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <span>Get in touch</span>
                <!-- footer top -->
                <div class="footer-top">
                    <!-- about the blog -->
                    <div class="about-footer">
                        <h5>About the blog</h5>
                        <p>Lorem ipsum dolor repellendus, Veniam, harum! Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <p>Lorem ipsum dolor repellendus, Veniam, harum! Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                        <a href="">view more <i class="fas fa-angle-right"></i></a>
                    </div>
                    <!--/ about the blog -->
                    <!-- recent posts -->
                    <div class="recent-posts-footer">
                        <h5>recent posts</h5>
                        <!-- post img -->
                        <div class="footer-img">
                            <img src="./dist/img/our-office-4-square.jpg" alt="">
                        </div>
                        <!-- / post img -->
                        <!-- post description -->
                        <div class="footer-text">
                            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
                            <div class="footer-date">
                                <span>12:52 AM Dec 19th</span>
                            </div>
                        </div>
                        <!-- / post description -->
                    </div>
                    <!-- / recent posts -->
                </div>
                <!-- / footer top -->
            </div>
        </footer>
        <!-- /Footer -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./dist/js/app.js"></script>
</body>
</html>