<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="./dist/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div id="root">
        <!-- Header -->
        <header>
            <!-- Prima barra di navigazione -->
            <nav class="top-nav">
                <div class="container">
                    <span>Lorem ipsum dolor sit amet.</span>
                    <!-- link inseriti con vue -->
                    <a href="" v-for="link in topLinks">{{link.item}}</a>
                </div>
            <!-- /Prima barra di navigazione -->
            </nav>
            <!-- logo -->
            <div class="container">
                <div class="logo">
                    <img src="./dist/img/logo-default-slim.png" alt="">
                </div>
            </div>
            <!-- /logo -->
            <!--seconda nav  -->
                <nav class="bottom-nav">
                    <div class="container flex-container">
                        <div class="links">
                            <a href="" v-for="link in bottomLinks">{{link.item}}</a>
                        </div>
                        <div class="search">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </nav>
            <!--/seconda nav  -->
        </header>
        <!-- /Header -->
        <!-- main -->
        <main>
            <div class="first-section">
                <!-- Prima sezione: articoli -->
                <div class="container">
                    <div class="articles first-row">
                        <div class="article first-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article second-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article third-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                    </div>
                    <div class="articles second-row">
                        <div class="article fourth-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article fifth-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                        <div class="article sixth-art">
                            <div class="article-info">
                                <span>lorem</span>
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quasi error iusto similique, unde suscipit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Prima sezione: articoli -->
            <!-- Seconda sezione:posts -->
            <div class="second-section">
                <div class="container">
                    <div class="posts">
                        <!-- popular posts -->
                        <div class="popular-posts">
                            <h3>Popular posts</h3>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-55.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-56.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-57.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-58.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-59.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                        </div>
                        <!-- /popular posts -->
                        <!-- recent posts -->
                        <div class="recent-posts">
                            <h3>Recent posts</h3>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-65.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-66 (1).jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-67.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-68.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="post-img">
                                    <img src="./dist/img/blog-69.jpg" alt="">
                                </div>
                                <div class="post-text">
                                    <h4>Lorem ipsum dolor sit.</h4>
                                    <span>January 12, 2019</span>
                                </div>
                            </div>
                        </div>
                        <!-- /recent posts -->
                        <!-- featured posts -->
                        <div class="featured-posts">
                            <h3>featured posts</h3>
                            <!-- feat. article -->
                            <div class="featured-article">
                                <div class="article-info">
                                    <span>lorem</span>
                                    <h4>Lorem ipsum dolor sit amet.</h4>
                                </div>
                            <!-- / feat. article -->
                            </div>
                            <!-- feat. author -->
                            <div class="featured-author">
                                <h3>featured author</h3>
                                <div class="author-info">
                                    <div class="author-avatar">
                                        <img src="./dist/img/avatar.jpg" alt="">
                                    </div>
                                    <div class="author-bio">
                                        <h4>John Doe</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem commodi a maxime iure repellendus officiis?</p>
                                    </div>
                                </div>
                            <!-- / feat. author -->
                            </div>
                        </div>
                        <!-- /featured posts -->
                    </div>
                </div>
            </div>
            <!-- third main section:buttons -->
            <div class="third-section">
                <div class="container">
                    <div class="buttons">
                        <div class="left-arrow">
                            <i class="fas fa-angle-left"></i>
                        </div>
                        <div class="button">
                            <input type="button" value="gadgets">
                        </div>
                        <div class="button">
                            <input type="button" value="photo">
                        </div>
                        <div class="button">
                            <input type="button" value="lifestyle">
                        </div>
                        <div class="button">
                            <input type="button" value="fashion">
                        </div>
                        <div class="button">
                            <input type="button" value="recipes">
                        </div>
                        <div class="button">
                            <input type="button" value="travel">
                        </div>
                        <div class="right-arrow">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ third main section:buttons -->
        </main>
        <!-- /main -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./dist/js/app.js"></script>
</body>
</html>