$primary-blue:#0088CC;
$secondary-blue:#0074AD;
$text-color:#777777;
$first-sec-main-bg:#f7f7f7;
$button-color: #212529;
$button-hover: #404040;
$dark-grey-border:#bfbfbf;
$light-grey-border: #ededed;
$footer-light-bg:#212529;
$footer-darker-bg:#1c2023;