@mixin overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
}
@mixin category-style {
    background-color: $primary-blue;
        color: white;
        display: inline-block;
        padding: 5px;
        margin-bottom: 5px;
}
@mixin article-title-style {
    z-index: 1;
        position: absolute;
        bottom: 0;
        padding: 20px;
}
@import "partials/common";
@import "partials/variables";
@import "partials/top-nav";
@import "partials/bottom-nav";
@import "partials/first-main-section.scss";
@import "partials/second-main-section.scss";
@import "partials/buttons.scss";
@import "partials/blog-section.scss";
.pages{
    text-align: end;
    a{
        color: $primary-blue;
        padding: 6px;
        margin: -3px;
        border: 2px solid $light-grey-border;
        &:hover{
            color: white;
            background-color: $secondary-blue;
        }
    }
}
footer{
    .about-footer, .recent-posts-footer , .recent-comments-footer{
        margin-right: 50px;
    }
    position: relative;
    .get-in-touch-container{
        position: absolute;
        top: -8px;
    }
    #get-in-touch{
        position: relative;
        padding: 5px;
        color: white;
        background-color: $primary-blue;
        font-family: 'Architects Daughter', cursive;
        &::before{
            content:'';
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-right: 12px solid $secondary-blue;
            border-bottom: 2px solid transparent;
            right: 100%;
            top: 0%;
            transform: rotate(355deg);
            position: absolute;
            clear: both;
        }
    }
    h5{
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        padding-bottom: 20px;
        font-size: 14px;
    }
    background-color: $footer-light-bg;
    .footer-top{
        font-size: 12px;
        display: flex;
        padding-top: 60px;
        .about-footer{
            p{
                color: $text-color;
                padding-bottom: 20px;
            }
            a{
                color: white;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
        .recent-posts-footer{
            .recent-content{
                padding-bottom: 15px;
                display: flex;
                span{
                    color: $text-color;
                }
                h4{
                    color: #b7b7b7;
                    font-weight: 100;
                }
                .footer-date{
                    padding: 10px 0;
                }
            }
            img{
                width: 80%;
                border-radius: 50%;
            }
        }
        .recent-comment{
            p{
                color: white;
                i,.art-title-footer{
                    color: $primary-blue;
                }
            }
        }
        .recent-posts-date{
            padding-bottom: 30px;
            color: $text-color;
        }
        .categories-footer{
            max-width: 20%;
            .link-footer{
                display: flex;
                flex-wrap: wrap;
            }
            a{
                color: white;
                background-color: black;
                padding: 5px;
                margin: 5px;
                border-radius: 3px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .footer-bottom{
        background-color: $footer-darker-bg;
    }
}