@mixin overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
}
@mixin category-style {
    background-color: $primary-blue;
        color: white;
        display: inline-block;
        padding: 5px;
        margin-bottom: 5px;
}
@mixin article-title-style {
    z-index: 1;
        position: absolute;
        bottom: 0;
        padding: 20px;
}
@import "partials/common";
@import "partials/variables";
@import "partials/top-nav";
@import "partials/bottom-nav";
@import "partials/first-main-section.scss";
@import "partials/second-main-section.scss";
@import "partials/buttons.scss";
.blog-flex{
    display: flex;
    padding-top: 40px;
    .left-blog{
        .blog-info{
            margin-top: 20px;
            margin-bottom: 40px;
        }
        width: 70%;
        margin-right: 30px;
        img{
            width: 100%;
        }
        .blog-img{
            display: flex;
        }
        .blog-text{
            margin-left: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $light-grey-border;
            p{
                margin: 15px 0;
                color: $text-color;
            }
        }
        .day, .month{
            text-align: center;
            font-weight: 600;
        }
        .day{
            padding: 10px;
            background-color: #f7f7f7;
            color: black;
        }
        .month{
            padding: 3px 0;
            font-size: 12px;
            text-transform: uppercase;
            background-color: black;
            color: white;
        }
        .blog-info{
            display: flex;
        }
        .blog-links{
            display: flex;
            .author, .category, .comments{
                margin-right: 20px;
                a{
                    color: $primary-blue;
                }
            }
            .read-more{
                margin-left: auto;
                input{
                text-transform: uppercase;
                color: $text-color;
                background-color: white;
                border-style: solid;
                border: 3px solid #eeee;
                font-weight: 600;
                font-size: 10px;
                padding: 5px;
                }
            }
        }
    }
    .right-blog{
        .twt-posts{
            padding-bottom: 30px;
            padding-top: 0;
            .twt-text{
                p{
                    color: $text-color;
                }
            }
        }
        h3{
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        .date{
            color: $primary-blue;
        }
        .twt-info{
            padding: 0 15px;
        }
        .tags{
            margin-bottom: 60px;
            margin-top: 10px;
            a{
                color: white;
                background-color: black;
                text-transform: uppercase;
                border-radius: 10px;
                padding: 5px;
                margin-right: 5px;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
        .facebook{
            a{
                color: $primary-blue;
                border-left: 3px solid $dark-grey-border;
                padding: 10px;
            }
        }
        .twt-text{
            padding-bottom: 10px;
        }
        width: 30%;
        margin-left: 20px;
        .twt-posts{
            display: flex;
        }
        .photos{
            display: flex;
            flex-wrap: wrap;
        }
        .photo{
            width: calc(100% / 3);
            img{
                width: 100%;
            }
        }
    }
}